@import 'font-face';

/************  Montserrat Fonts  ************/
$montserrat-regular-font: 400;
$montserrat-medium-font: 500;
$montserrat-semibold-font: 600;
$montserrat-bold-font: 700;
$apples-and-carrots: 'ApplesAndCarrots', sans-serif;
